{% macro alertFlags(alerts) %}
    {% if alerts.length %}
        <ul class="alerts-list">
            {% for alert in alerts %}
            <li class="{{ alert.classes }}">
                {{ alert.label }}
                </li>{% if newLine %}<br>{% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}