{% macro printLink(linkText = 'Print this page', align = "left") %}
<div {% if align %} class="text-align-{{ align }}" {% endif %}">
  <a href="#" class="govuk-link print-link govuk-!-display-none-print govuk-!-font-size-16 govuk-!-margin-bottom-0">
    {{ linkText }}
  </a>
</div>
{% endmacro %}
