<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="index.css" rel="stylesheet" />
    <title>PDF Report</title>
</head>
<body class='pdf'>
{% block content %}
{% endblock %}
</body>
</html>