$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "node_modules/govuk-frontend/dist/govuk/base";
@import "node_modules/govuk-frontend/dist/govuk/core";
@import "node_modules/govuk-frontend/dist/govuk/objects";
@import "node_modules/govuk-frontend/dist/govuk/components";
@import "node_modules/govuk-frontend/dist/govuk/utilities";
@import "node_modules/govuk-frontend/dist/govuk/overrides";
@import 'moj/all';

@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer';
@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar';

@import 'node_modules/@ministryofjustice/hmpps-connect-dps-shared-items/dist/assets/scss/all';

@import './components/whats-new';
@import './components/print-link';
@import 'components/alert-flags';
@import './components/results-table';
@import './pages/help';
@import './pages/homepage';
@import './pages/managed-page';
@import './pages/whats-new';
@import './pages/whats-new-post';
@import './pages/establishment-roll';
@import 'assets/scss/local';
@import 'assets/scss/print';
@import "assets/scss/helpers";
