$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/footer';
@import './components/header-bar';
@import './components/whats-new';
@import './components/print-link';
@import './pages/help';
@import './pages/homepage';
@import './pages/managed-page';
@import './pages/whats-new';
@import './pages/whats-new-post';
@import './pages/establishment-roll';
@import 'assets/scss/local';
@import 'assets/scss/print';
@import "assets/scss/helpers";
