$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/all";
@import "@ministryofjustice/frontend/moj/all";

@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer';
@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar';

@import 'node_modules/@ministryofjustice/hmpps-connect-dps-shared-items/dist/assets/scss/all';

@import './components/whats-new';
@import './components/print-link';
@import './components/alert-flags';
@import './components/pagination';
@import './components/sortable-table';
@import './pages/help';
@import './pages/homepage';
@import './pages/managed-page';
@import './pages/whats-new';
@import './pages/whats-new-post';
@import './pages/dietary-requirements';

@import 'overrides/local';
@import 'overrides/print';
@import "helpers/index";
