$govuk-global-styles: true;
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk-frontend/dist/govuk/index';
@import '@ministryofjustice/frontend/moj/all';

@import '@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer';
@import '@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar';

@import '@ministryofjustice/hmpps-connect-dps-shared-items/dist/assets/scss/all';

@import 'helpers';
@import 'helpers/contentful-body-html';

@import './components/whats-new';
@import './components/print-link';
@import './components/alert-flags';
@import './components/pagination';
@import './components/sortable-table';
@import './pages/homepage';
@import './pages/managed-page';
@import './pages/whats-new';
@import './pages/whats-new-post';
@import './pages/dietary-requirements';

@import 'overrides/local';
@import 'overrides/print';
