{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro filterCategory(label, groupId, options) %}
  {% if options.length > 0 %}
    {% set filterOptions = [] %}

    {% for option in options %}
      {% set filterOptions = (filterOptions.push(
        {
          name: groupId + "[]",
          value: option.value,
          text: option.name + " (" + option.count + ")",
          id: groupId + "-" + option.value,
          checked: option.checked
        }
      ), filterOptions) %}
    {% endfor %}

    <fieldset class="hmpps-dietary-requirements__filter-category govuk-fieldset" data-qa={{ "filter-group-" + groupId }}>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        {{ label }}
      </legend>
      {{ govukCheckboxes({
        name: "filters[]",
        items: filterOptions,
        classes: "govuk-checkboxes--small"
      }) }}
    </fieldset>
  {% endif %}
{% endmacro %}

{% block content %}
  <div class="govuk-grid-column-full govuk-!-padding-bottom-6 hmpps-dietary-requirements__filters">
    <form method="POST" data-qa="diet-report-filter-form">
      <h2 class="govuk-heading-m govuk-!-margin-top-6">Filter</h2>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ filterCategory("Personalised diet", "personalDiet", filters.personalisedDietaryRequirements) }}
      {{ filterCategory("Medical diet", "medicalDiet", filters.medicalDietaryRequirements) }}
      {{ filterCategory("Food allergies", "foodAllergies", filters.foodAllergies) }}

      {{ govukButton({
        text: "Apply",
        type: "submit",
        classes: "govuk-button govuk-!-margin-bottom-4",
        attributes: {
          'data-qa': 'diet-report-filter-form-submit'
        }
      }) }}
    </form>
    <a href="/dietary-requirements?{{ clearAllQuery }}" class="govuk-link govuk-link--no-visited-state">Clear filters</a>
  </div>
{% endblock %}
