{% extends "../../partials/layout.njk" %}
{% from "../../macros/hmppsPagedListHeader.njk" import hmppsPagedListHeader %}
{% from "../../macros/hmppsPagedListFooter.njk" import hmppsPagedListFooter %}
{% from "../../macros/printLink.njk" import printLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = "Prisoner search results" %}
{% set mainClasses = "govuk-body govuk-main-wrapper--auto-spacing" %}
{% set breadCrumbs = [
  {
    text: 'Digital Prison Services',
    href:  '/'
  }
] %}
{% set alertCheckboxes %}
  {{ govukCheckboxes({
    idPrefix: "alerts",
    name: "alerts[]",
    classes: "prisoner-search__alerts govuk-checkboxes--small js-prisoner-search-alerts",
    fieldset: {
      legend: {
        text: "Select alerts to view",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: alertOptions,
    attributes: {
      'data-test': 'prisoner-search-alerts'
    }
  }) }}

  <a href="#" class="govuk-link govuk-link--no-visited-state js-prisoner-search-clear-alerts"
     data-test="prisoner-search-clear-alerts">
    Clear selected alerts
  </a>
{% endset %}

{% macro alertFlags(alerts, newLine = false) %}
  {% set alertClass %}
    {% if newLine %}
      alerts-list-no-flex
    {% else %}
      alerts-list
    {% endif %}
  {% endset %}
  {% if alerts.length %}
    <ul class={{ alertClass }}>
      {% for alert in alerts %}
      <li class="{{ alert.classes }}">
        {{ alert.label }}
        </li>{% if newLine %}<br>{% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro categoryFlag(categoryText, categoryCode, default = true) %}
  {% set classes = 'cat-a-status cat-a-status--' + categoryCode if categoryCode in ['A', 'E', 'H', 'P'] %}
  {% set text %}
    {% if categoryCode in ['A', 'E'] %}
      CAT A
      {% elif categoryCode === 'H' %}
      CAT A High
      {% elif categoryCode === 'P' %}
      CAT A Prov
    {% else %}
      {% if default %}
        {{ categoryText | showDefault('Not entered') }}
      {% else %}
        {{ categoryText }}
      {% endif %}
    {% endif %}
  {% endset %}

  <span class="{{ classes | lower }}">
    {{ text }}
  </span>
{% endmacro %}

{% block content %}
  <div class="govuk-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Prisoner search results</h1>
      </div>
    </div>
    <div class="govuk-!-display-none-print">
      {% include "./searchForm.njk" %}
      {% if results.length > 0 %}
      <div class="prisoner-search__results-options">
        {% include "./searchOrdering.njk" %}
        {% include "./searchToggles.njk" %}
      </div>
      {% endif %}
    </div>
    {% if results.length > 0 %}
      {{ printLink('Print displayed results', 'right')}}
      <div class=" govuk-grid-row govuk-!-display-none-print">
        <div class="govuk-grid-column-full">{{ hmppsPagedListHeader(listMetadata) }}</div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% if view === 'grid' %}
            {% include './prisonerSearchGrid.njk' %}
          {% else %}
            {% include './prisonerSearchList.njk' %}
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          No records found matching search criteria.
        </div>
      </div>
    {% endif %}

  </div>
{% endblock %}

{% block pageScripts %}
  <script src={{ "/assets/js/prisonerSearch.js" | assetMap }}></script>
{% endblock %}
