.dietary-requirements {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.hmpps-dietary-requirements {
  table-layout: fixed;
}

.hmpps-dietary-requirements__name {
  width: calc(100% / 6) * 2;
  padding: 15px 30px 15px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;

  @media print {
    width: calc(100% / 20) * 6;
  }
}

.hmpps-dietary-requirements__location {
  width: calc(100% / 6) * 1;
  padding: 15px 30px 15px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;

  @media print {
    width: calc(100% / 20) * 3;
  }
}

.hmpps-dietary-requirements__requirements {
  width: calc(100% / 6) * 3;
  padding: 15px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;

  @media print {
    width: calc(100% / 20) * 11;
  }
}

.arrived-in-last-3-days-badge {
  display: block;
  width: fit-content;
  background-color: #c3ded3;
  color: #00502c;
  padding: 5px;
  margin-top: 10px;

  &__print {
    display: block;
    width: fit-content;
    background-color: #e1e2e3;
    color: $govuk-text-colour;
    padding: 5px;
    margin-top: 10px;
  }
}

.dietary-requirements-print-table {
  th {
    padding-left: 5px;
    background-color: govuk-colour('light-grey');
  }

  td {
    padding-left: 5px;
  }
}

.classification-banner {
  display: block;
  width: fit-content;
  background-color: govuk-colour('red');
  color: govuk-colour('white');
  font-weight: bold;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
}

.print-header-timestamp {
  font-size: 12px;
  padding-bottom: 5px;
}

.sensitive-info-disclaimer {
  font-size: 14px;
}

.print-report-heading {
  font-size: 16px;
  margin-bottom: 10px;
}

#print-report-content {
  margin-left: -7px;
  margin-right: -7px;
}

#diet-report-frame {
  display: none;
}