.establishment-roll {
  &__label-and-value {
    display: flex;
    justify-content: space-between;

    @media (min-width: #{map-get($govuk-breakpoints, 'desktop')}) {
      flex-basis: 50%;
      padding-right: 90px;
    }

    @media print {
      padding-right: 0;
      h2, p {
        font-size: 14pt !important;
      }
    }

    &--with-space {
      @media print, (min-width: #{map-get($govuk-breakpoints, 'desktop')}) {
        flex-basis: 33%;
      }
    }
  }

  &__table {
    tbody {
      tr:last-child {
        * {
          border-bottom: none;
        }
      }
    }
  }
}