.establishment-roll {
  &__label-and-value {
    display: flex;
    justify-content: space-between;

    @media (min-width: #{map-get($govuk-breakpoints, 'desktop')}) {
      flex-basis: 50%;
      padding-right: 90px;
    }

    @media print {
      padding-right: 0;
      h2, p {
        font-size: 14pt !important;
      }
    }

    &--with-space {
      @media print, (min-width: #{map-get($govuk-breakpoints, 'desktop')}) {
        flex-basis: 33%;
      }
    }
  }

  &__table {
    border-collapse: separate;
    tbody {
      tr:last-child {
        * {
          border-bottom: none;
        }
      }
    }

    &__wing-row {
      td {
        padding: 13px 51px 7px 0;
      }

      td:first-of-type {
        a[aria-expanded='true']:before {
          display: block;
          width: 0;
          height: 0;
          -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
          clip-path: polygon(0 0, 50% 100%, 100% 0);
          border-color: transparent;
          border-style: solid;
          border-width: 12.124px 7px 0;
          border-top-color: inherit;
        }
      }
      &.open {
        td {
          border-bottom: none;
        }
      }


    }

    &__landing-row {
      font-size: 16px;

      td:first-of-type {
        display: block;
        margin-left: 46px;
        border-collapse: separate;

        a {
          color: govuk-colour('blue');
        }
      }

      &.last-in-group {
        td {
          border-bottom: none;
          margin-bottom: 10px;
        }
      }

    }

    &__spur-row {
      font-size: 16px;

      td:first-of-type {
        display: block;
        margin-left: 30px;
        border-collapse: separate;
        font-weight: bold;
        padding-left: 15px;
        font-size: 19px;
        padding-top: 8px;
      }

      td {
        background-color: govuk-colour('light-grey');
        border-bottom: none;
        padding-top: 10px;
      }
    }

    tr.next-wing-to-open {
      td {
        border-top: 1px solid govuk-colour('mid-grey');
      }
    }
  }
}