.dps-homepage-container {
  max-width: unset;
  margin-left: auto;
  margin-right: auto;

  header.dps-header {
    background-color: rgba(govuk-colour("light-blue"), .2);
    padding: 25px 0;

    div {
      position: relative;

      &::before {
        content: url("/assets/images/dps-logo.svg");
        float: left;
        margin-right: 20px;
      }
    }

    h1 {
      font-size: 36px;
      line-height: 36px;
      margin: 0 0 8px 0;
    }

    p {
      font-weight: 700;
      margin: 0 0 5px 0;
    }

    a {
      font-weight: 300;
    }
  }
}
