.dps-homepage-container {
  max-width: unset;
  margin-left: auto;
  margin-right: auto;

  header.dps-header {
    background-color: rgba(govuk-colour("light-blue"), .2);
    padding: 25px 0;

    div {
      position: relative;

      &::before {
        content: url("/assets/images/dps-logo.svg");
        float: left;
        margin-right: 20px;
      }
    }

    h1 {
      font-size: 36px;
      line-height: 36px;
      margin: 0 0 8px 0;
    }

    p {
      font-weight: 700;
      margin: 0 0 5px 0;
    }

    a {
      font-weight: 300;
    }
  }

  .dps-homepage-search {
    background-color: govuk-colour("light-grey");
    padding: 25px 0;

    h2 {
      font-size: 24px;
      margin: 0 0 10px 0;
    }

    .govuk-form-group {
      margin-bottom: 5px;

      &.govuk-form-group__item {
        margin-bottom: 0;
      }

      &--inline {
        display: flex;
        flex-wrap: wrap;
        gap: 15px 30px;
        align-items: end;
      }

      &__button {
        display: flex;
        align-items: end;
        padding-bottom: 2px;

        .govuk-button {
          margin-bottom: 0;
        }
      }

      .govuk-error-message {
        margin-bottom: 10px;
      }
    }

    .govuk-radios__label:before {
      background-color: govuk-colour("white");
    }
  }

  .dps-homepage-today {
    h2 {
      font-size: 24px;
      margin-bottom: 5px;
    }

    .today-last-updated {
      font-size: 16px;
      color: $govuk-secondary-text-colour;
    }

    .today-card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    .today-card {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      height: 198px;
      width: 270px;
      padding: 15px 15px 20px 15px;
      border: 1px solid govuk-colour('black');
      box-shadow: 0 4px govuk-colour('mid-grey');

      h3 {
        font-size: 19px;
        margin: 0;
      }

      &__count {
        font-size: 48px;
        font-weight: 700;
      }

      &__link {
          padding-top: 15px;
          border-top: 1px solid govuk-colour('mid-grey');
          margin-top: auto;
      }
    }
  }

  .today-section-break {
    height: 2px;
    background-color: govuk-colour('mid-grey');
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .today-section-break--blue {
    height: 3px;
    background-color: govuk-colour('blue');
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .dps-homepage-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 130px;

    .dps-homepage-whats-new {
      width: 570px;

      h2 {
        font-size: 24px;
        margin: 0 0 20px 0;
      }

      @include whats-new;
    }

    .dps-homepage-help {
      width: 460px;

      h2 {
        font-size: 24px;
        margin: 0 0 20px 0;
      }
    }
  }
}
