.dps-homepage-container {
  max-width: unset;
  margin-left: auto;
  margin-right: auto;

  &.govuk-width-container {
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
  }

  .dps-outage-banner {
    min-height: 70px;
    background-color: rgba(govuk-colour('red'), 0.2);

    div {
      padding: 22px 0;
    }

    p {
      font-weight: 300;
      margin: 0;

      a:link,
      a:visited {
        color: $govuk-text-colour;
      }
    }
  }

  header.dps-header {
    background-color: rgba(govuk-colour('light-blue'), 0.2);
    padding: 25px 0;

    div {
      position: relative;

      &::before {
        content: url('/assets/images/dps-logo.svg');
        float: left;
        margin-right: 20px;
      }
    }

    h1 {
      margin: 0 0 8px 0;
    }

    p {
      font-weight: 700;
      margin: 0 0 5px 0;
    }

    a {
      font-weight: 300;
    }
  }

  .dps-homepage-search {
    background-color: govuk-colour('light-grey');
    padding: 25px 0;

    .govuk-radios__label {
      max-width: unset;
    }

    .govuk-form-group {
      margin-bottom: 5px;

      &.govuk-form-group__item {
        margin-bottom: 0;
      }

      &--inline {
        display: flex;
        flex-wrap: wrap;
        gap: 15px 30px;
        align-items: end;
      }

      &__button {
        display: flex;
        align-items: end;
        padding-bottom: 2px;

        .govuk-button {
          margin-bottom: 0;
        }
      }

      .govuk-error-message {
        margin-bottom: 10px;
      }
    }

    .govuk-radios__label:before {
      background-color: govuk-colour('white');
    }
  }

  .hmpps-services {
    display: grid;

    .hmpps-service-item {
      position: relative;

      &__header {
        width: calc(100% - 15px);
      }

      a:before {
        content: '';
        display: block;
        height: 8px;
        position: absolute;
        right: 3px;
        top: 29px;
        transform: translateY(0px) rotate(45deg) scale(1);
        width: 8px;
        border-right: 2px solid govuk-colour('black');
        border-top: 2px solid govuk-colour('black');
      }

      a:after {
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    grid-template-columns: auto auto auto;
    column-gap: govuk-spacing(7);
    row-gap: govuk-spacing(4);
    @media (max-width: 768px) {
      grid-template-columns: auto;
    }
    @media (min-width: 769px) and (max-width: 1019px) {
      grid-template-columns: auto auto;
    }
    .hmpps-service-item {
      li.hmpps-service-link::marker {
        color: govuk-colour('blue');
      }
      min-height: 120px;
    }
  }

  .dps-homepage-today {
    .today-card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    .today-card {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      height: 198px;
      width: 270px;
      padding: 15px 15px 20px 15px;
      border: 1px solid govuk-colour('black');
      box-shadow: 0 4px govuk-colour('mid-grey');

      &__count {
        font-size: 48px;
        font-weight: 700;
      }

      &__link {
        padding-top: 15px;
        border-top: 1px solid govuk-colour('mid-grey');
        margin-top: auto;
      }
    }
  }

  .today-section-break--blue {
    height: 3px;
    background-color: govuk-colour('blue');
    border: none;
    margin-top: 35px;
    margin-bottom: 30px;
  }

  .dps-homepage-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 130px;

    .dps-homepage-whats-new {
      width: 570px;

      @include whats-new;
    }

    .dps-homepage-help {
      width: 460px;

      p + p {
        margin-top: 30px
      }
    }
  }
}

.dps-homepage-services-outage {
  border-color: govuk-colour('red');
  background-color: govuk-colour('light-grey');
}
