.hmpps-managed-page {
  h1 {
    font-size: 36px;
    line-height: 40px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  &__body {
    white-space: pre-wrap;
    word-wrap: break-word;

    img,
    video {
      max-width: 100%;
    }
  }
}