@use 'govuk-frontend/dist/govuk';

// This fixes the spacing where the flex basis breaks
.prisoner-search__results-grid * {
  box-sizing: border-box;
}

.prisoner-search__results-list * {
  box-sizing: border-box;
}

.horizontal-form {
  * {
    width: 100%;
  }

  @include govuk.govuk-media-query($from: desktop) {
    display: flex;
    flex-flow: row wrap;

    * {
      width: auto;
      margin-bottom: 0;
    }

    > div {
      margin-right: govuk.govuk-spacing(3);
    }

    .date-picker-container input {
      width: 130px !important;
    }

    label {
      margin-bottom: govuk.govuk-spacing(1);
    }

    button {
      margin-right: govuk.govuk-spacing(3);
      margin-bottom: govuk.$govuk-border-width-form-element;
    }

    a {
      margin-bottom: 10px;
    }

    button,
    a {
      align-self: flex-end;
    }
  }
}

.prisoner-search {
  &__form {
    margin-bottom: govuk.govuk-spacing(6);
    padding: govuk.govuk-spacing(3);
    background-color: govuk.govuk-functional-colour(template-background);
  }

  &__alerts {
    @include govuk.govuk-media-query($from: mobile) {
      display: flex;
      flex-wrap: wrap;
    }

    .govuk-checkboxes__item {
      @include govuk.govuk-media-query($from: mobile) {
        flex-basis: 50%;
      }

      @include govuk.govuk-media-query($from: desktop) {
        flex-basis: 25%;
      }
    }
  }

  &__results-options {
    @include govuk.govuk-media-query($from: desktop) {
      display: flex;
      justify-content: space-between;
      margin-bottom: govuk.govuk-spacing(6);
      align-items: baseline;
    }
  }

  &__toggles {
    display: flex;
    justify-content: flex-end;
    margin-bottom: govuk.govuk-spacing(3);

    &__toggle {
      display: flex;
      align-items: center;
      color: govuk.govuk-functional-colour(link);

      &--list {
        border-right: 1px solid govuk.govuk-functional-colour(text);
        padding-right: govuk.govuk-spacing(2);
      }

      &--grid {
        padding-left: govuk.govuk-spacing(2);
      }

      svg {
        margin-left: 10px;
      }

      &--active {
        text-decoration: none;
        color: govuk.govuk-functional-colour(text) !important;
      }
    }
  }

  &__summary {
    margin: -10px 0 10px;
    font-size: 14px;

    @media screen {
      display: none;
    }
  }

  &__options {
    margin-top: -10px;
    display: flex;
    justify-content: flex-end;
  }

  &__results {
    &-list {
      overflow: auto;

      &__image {
        width: 90px;
        max-width: 90px;

        @media print {
          width: 60px;
          max-width: 90px;
        }
      }

      .govuk-table__header {
        vertical-align: bottom;
      }

      .govuk-table__cell {
        vertical-align: middle;
      }
    }

    &-grid {
      margin: 0 #{-(govuk.$govuk-gutter-half)} govuk.govuk-spacing(3);

      @include govuk.govuk-media-query($from: mobile) {
        display: flex;
        flex-wrap: wrap;
      }

      &__prisoner {
        @include govuk.govuk-media-query($from: mobile) {
          flex-basis: 50%;
        }

        @include govuk.govuk-media-query($from: desktop) {
          flex-basis: 33.333%;
        }

        @include govuk.govuk-media-query($from: 950px) {
          flex-basis: 20%;
        }

        padding: govuk.$govuk-gutter-half;

        @media print {
          width: 25%;
          display: inline-block;
          page-break-inside: avoid;

          .govuk-link {
            color: inherit;
            text-decoration: none;

            // Remove url from links in printed view
            &[href^='/'], &[href^='http://'], &[href^='https://']
            {
              &::after {
                content: '';
              }
            }
          }
        }
      }

      @media print {
        display: block;
      }
    }
  }
}

.prisoner-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: govuk.govuk-functional-colour(template-background);

  &__image {
    width: 100%;

    @include govuk.govuk-media-query($from: mobile) {
      height: 250px;
      object-fit: cover;

      @media print {
        height: 175px;
      }
    }
  }

  &__details {
    padding: govuk.govuk-spacing(3);
  }
}
