.whats-new-post--full {
  margin-bottom: 20px;

  .whats-new-post__caption {
    margin-top: 25px;
    margin-bottom: 5px;
  }

  .whats-new-post__date {
    margin-bottom: 30px;
  }

  .whats-new-post__summary {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  pre.whats-new-post__body {
    @extend %contentful-body-html;
  }
}
