# Per environment values which override defaults in hmpps-digital-prison-services/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: dps-preprod.prison.service.justice.gov.uk
    modsecurity_enabled: true
    modsecurity_github_team: "connect-dps"
    modsecurity_snippet: |
      SecRuleEngine On
      SecRuleRemoveById 949110
      SecRuleRemoveById 942440
      SecRuleRemoveById 920300

  env:
    INGRESS_URL: https://dps-preprod.prison.service.justice.gov.uk

    CONTENTFUL_HOST: https://graphql.eu.contentful.com
    CONTENTFUL_ENVIRONMENT: master
    ENVIRONMENT: preprod             # k8s namespace suffix & github environment
    ENVIRONMENT_NAME: PRE-PRODUCTION # Phase banner tag label
    HMPPS_AUTH_URL: https://sign-in-preprod.hmpps.service.justice.gov.uk/auth
    HMPPS_COOKIE_DOMAIN: digital-preprod.prison.service.justice.gov.uk
    HMPPS_COOKIE_NAME: hmpps-session-preprod


    # APIs
    COMPONENT_API_URL: https://frontend-components-preprod.hmpps.service.justice.gov.uk
    PRISON_API_URL: https://prison-api-preprod.prison.service.justice.gov.uk
    TOKEN_VERIFICATION_API_URL: https://token-verification-api-preprod.prison.service.justice.gov.uk
    HEALTH_AND_MEDICATION_API_URL: "https://health-and-medication-api-preprod.hmpps.service.justice.gov.uk"
    GOTENBERG_API_URL: 'http://hmpps-digital-prison-services-gotenberg'

    # Service URLs
    CHECK_MY_DIARY_URL: https://check-my-diary-preprod.prison.service.justice.gov.uk?fromDPS=true
    DIGITAL_PRISONS_URL: https://digital-preprod.prison.service.justice.gov.uk
    MERCURY_SUBMIT_URL: https://submit-a-mercury-report-preprod.hmpps.service.justice.gov.uk
    ACCREDITED_PROGRAMMES_URL: https://accredited-programmes-preprod.hmpps.service.justice.gov.uk
    PRISONER_PROFILE_URL: https://prisoner-preprod.digital.prison.service.justice.gov.uk
    ESTABLISHMENT_ROLL_URL: https://prison-roll-count-preprod.hmpps.service.justice.gov.uk
    PRISONER_SEARCH_API_URL: https://prisoner-search-preprod.prison.service.justice.gov.uk
    LICENCES_URL: https://licences-preprod.prison.service.justice.gov.uk

    # Feature flags
    PRISONS_WITH_OFFENDERS_THAT_HAVE_COMPLEX_NEEDS: "AGI,BZI,DHI,DWI,ESI,EWI,FHI,LNI,NHI,PFI,SDI,STI"
    MERCURY_SUBMIT_PRIVATE_BETA_ENABLED_DATE: 2023-06-01T02:00:00
    MERCURY_SUBMIT_PRIVATE_BETA_ENABLED_PRISONS: "LNI,FHI,BZI,SDI,GTI,BAI,MRI,NMI,RNI,SUI,SKI"
    MERCURY_SUBMIT_LIVE_ENABLED_DATE: ""
    COMPONENT_API_LATEST: true
    ACCREDITED_PROGRAMMES_ENABLED: true
    AUDIT_ENABLED: "true"

  allowlist:
    sscl-blackpool: 31.121.5.27/32
    sscl-azure: 51.142.106.199/32
    sscl-york: 62.6.61.29/32
    sscl-newcastle: 62.172.79.105/32
    sscl-newport: 217.38.237.212/32
    groups:
    - internal
    - prisons
    - private_prisons
    - police

generic-prometheus-alerts:
  alertSeverity: hmpps-digital-prison-services-non-prod

  elastiCacheAlertsClusterIds:
    cp-b2932b29d68094a2-001: "HMPPS Digital Prison Services ElastiCache Cluster Node 1"
    cp-b2932b29d68094a2-002: "HMPPS Digital Prison Services ElastiCache Cluster Node 2"

gotenberg:
  replicaCount: 2
