# Per environment values which override defaults in hmpps-digital-prison-services/values.yaml

generic-service:
  ingress:
    host: dps.prison.service.justice.gov.uk
    modsecurity_enabled: true
    modsecurity_github_team: "connect-dps"
    modsecurity_snippet: |
      SecRuleEngine DetectionOnly
    # SecRuleUpdateActionById 949110 "pass,log,auditlog"
    # SecRuleUpdateActionById 942440 "pass,log,auditlog"
    # SecRuleUpdateActionById 920300 "pass,log,auditlog"

  autoscaling:
    enabled: true
    minReplicas: 8
    maxReplicas: 16
    targetCPUUtilizationPercentage: 1600

  env:
    INGRESS_URL: https://dps.prison.service.justice.gov.uk

    CONTENTFUL_HOST: https://graphql.eu.contentful.com
    CONTENTFUL_ENVIRONMENT: master
    HMPPS_AUTH_URL: https://sign-in.hmpps.service.justice.gov.uk/auth
    HMPPS_COOKIE_DOMAIN: digital.prison.service.justice.gov.uk
    HMPPS_COOKIE_NAME: hmpps-session-preprod

    # APIs
    COMPONENT_API_URL: https://frontend-components.hmpps.service.justice.gov.uk
    PRISON_API_URL: https://prison-api.prison.service.justice.gov.uk
    TOKEN_VERIFICATION_API_URL: https://token-verification-api.prison.service.justice.gov.uk
    HEALTH_AND_MEDICATION_API_URL: "https://health-and-medication-api.hmpps.service.justice.gov.uk"
    GOTENBERG_API_URL: 'http://hmpps-digital-prison-services-gotenberg'
    PRISONER_SEARCH_API_URL: https://prisoner-search.prison.service.justice.gov.uk

    # Service URLs
    CHECK_MY_DIARY_URL: https://checkmydiary.service.justice.gov.uk?fromDPS=true
    DIGITAL_PRISONS_URL: https://digital.prison.service.justice.gov.uk
    MERCURY_SUBMIT_URL: https://submit-a-mercury-report.hmpps.service.justice.gov.uk
    ACCREDITED_PROGRAMMES_URL: https://accredited-programmes.hmpps.service.justice.gov.uk
    PRISONER_PROFILE_URL: https://prisoner.digital.prison.service.justice.gov.uk
    ESTABLISHMENT_ROLL_URL: https://prison-roll-count.hmpps.service.justice.gov.uk

    # Feature flags
    MERCURY_SUBMIT_LIVE_ENABLED_DATE: 2023-07-26T02:00:00
    MERCURY_SUBMIT_PRIVATE_BETA_ENABLED_DATE: 2023-07-04T02:00:00
    MERCURY_SUBMIT_PRIVATE_BETA_ENABLED_PRISONS: "LNI,FHI,BZI,SDI,GTI,BAI,MRI,NMI,RNI,SUI,SKI"
    PRISONS_WITH_OFFENDERS_THAT_HAVE_COMPLEX_NEEDS: "AGI,BZI,DHI,DWI,ESI,EWI,FHI,LNI,NHI,PFI,SDI,STI"
    COMPONENT_API_LATEST: false
    ACCREDITED_PROGRAMMES_ENABLED: false
    AUDIT_ENABLED: "true"

  allowlist:
    sscl-blackpool: 31.121.5.27/32
    sscl-azure: 51.142.106.199/32
    sscl-york: 62.6.61.29/32
    sscl-newcastle: 62.172.79.105/32
    sscl-newport: 217.38.237.212/32
    groups:
    - internal
    - prisons
    - private_prisons
    - police

generic-prometheus-alerts:
  alertSeverity: hmpps-digital-prison-services-prod

  elastiCacheAlertsClusterIds:
    cp-adaf5bfc3a45ca98-001: "HMPPS Digital Prison Services ElastiCache Cluster Node 1"
    cp-adaf5bfc3a45ca98-002: "HMPPS Digital Prison Services ElastiCache Cluster Node 2"
