# Per environment values which override defaults in hmpps-digital-prison-services/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: dps-dev.prison.service.justice.gov.uk
    modsecurity_enabled: true
    modsecurity_github_team: "connect-dps"
    modsecurity_snippet: |
      SecRuleEngine On
      SecRuleRemoveById 949110
      SecRuleRemoveById 942440
      SecRuleRemoveById 920300

  env:
    INGRESS_URL: https://dps-dev.prison.service.justice.gov.uk

    CONTENTFUL_HOST: https://graphql.eu.contentful.com
    CONTENTFUL_ENVIRONMENT: master
    ENVIRONMENT_NAME: DEV
    HMPPS_AUTH_URL: https://sign-in-dev.hmpps.service.justice.gov.uk/auth
    HMPPS_COOKIE_DOMAIN: digital-dev.prison.service.justice.gov.uk
    HMPPS_COOKIE_NAME: hmpps-session-dev

    # APIs
    COMPONENT_API_URL: https://frontend-components-dev.hmpps.service.justice.gov.uk
    PRISON_API_URL: https://prison-api-dev.prison.service.justice.gov.uk
    TOKEN_VERIFICATION_API_URL: https://token-verification-api-dev.prison.service.justice.gov.uk
    HEALTH_AND_MEDICATION_API_URL: "https://health-and-medication-api-dev.hmpps.service.justice.gov.uk"
    GOTENBERG_API_URL: 'http://hmpps-digital-prison-services-gotenberg'

    # Service URLs
    CHECK_MY_DIARY_URL: https://check-my-diary-dev.prison.service.justice.gov.uk?fromDPS=true
    DIGITAL_PRISONS_URL: https://digital-dev.prison.service.justice.gov.uk
    MERCURY_SUBMIT_URL: https://submit-a-mercury-report-dev.hmpps.service.justice.gov.uk
    ACCREDITED_PROGRAMMES_URL: https://accredited-programmes-dev.hmpps.service.justice.gov.uk
    PRISONER_PROFILE_URL: https://prisoner-dev.digital.prison.service.justice.gov.uk
    ESTABLISHMENT_ROLL_URL: https://prison-roll-count-dev.hmpps.service.justice.gov.uk
    PRISONER_SEARCH_API_URL: https://prisoner-search-dev.prison.service.justice.gov.uk

    # Feature flags
    MERCURY_SUBMIT_LIVE_ENABLED_DATE: ""
    MERCURY_SUBMIT_PRIVATE_BETA_ENABLED_DATE: 2023-06-01T02:00:00
    MERCURY_SUBMIT_PRIVATE_BETA_ENABLED_PRISONS: "LNI,FHI,BZI,SDI,GTI,BAI,MRI,NMI,RNI,SUI,SKI"
    PRISONS_WITH_OFFENDERS_THAT_HAVE_COMPLEX_NEEDS: "MDI,LEI"
    COMPONENT_API_LATEST: true
    ACCREDITED_PROGRAMMES_ENABLED: true
    AUDIT_ENABLED: "true"
    PRISONER_SEARCH_ENABLED: true

  allowlist:
    groups:
      - digital_staff_and_mojo
      - moj_cloud_platform
      - prisons
      - accessibility-testing-1
      - circleci
      - kilco_uat

generic-prometheus-alerts:
  alertSeverity: hmpps-digital-prison-services-non-prod

  elastiCacheAlertsClusterIds:
    cp-2e0b1b496ed43082-001: "HMPPS Digital Prison Services ElastiCache Cluster Node 1"
    cp-2e0b1b496ed43082-002: "HMPPS Digital Prison Services ElastiCache Cluster Node 2"

gotenberg:
  replicaCount: 2
