<section class="dps-homepage-help" data-qa="homepage-help-section">
    <h2>Get help using DPS</h2>
    <h3>Training</h3>
    <a href="#" class="govuk-link govuk-link--no-visited-state">Using DPS for the first time</a>
    <h3>Contact the helpdesk</h3>
    <p>Call 0800 917 5148 or #6598 from inside an establishment.</p>
    <p>Open Monday to Friday, 8am to 6pm.</p>
    <h3>Tell us what you think</h3>
    <p>You can help improve DPS by <a href="#" class="govuk-link govuk-link--no-visited-state">giving us your feedback (opens in a new tab)</a>.</p>
</section>