<section class="dps-homepage-help" data-qa="homepage-help-section">
    <h2 class="govuk-heading-m">Get help with DPS</h2>
    <h3 class="govuk-heading-s">Contact the helpdesk</h3>
    <p>Call 0800 917 5148 or #6598 from inside an establishment.</p>
    <h3 class="govuk-heading-s">Tell us what you think</h3>
    <p>You can help improve DPS by <a href="{{ config.feedbackSurveyUrl }}" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer external">giving us your feedback (opens in a new tab)</a>.</p>
</section>
