<header class="dps-header">
    <div class="govuk-width-container">
        <h1>Welcome to Digital Prison Services</h1>
        <p>The modern replacement for NOMIS.</p>
        <a href='#' class='govuk-link govuk-link--text-colour'>Learn more about DPS</a>
    </div>
</header>