<section data-qa="homepage-services-section" data-qa="homepage-services-section">
    <div class="govuk-width-container">
        <h3 data-qa="homepage-services-heading">Services</h3>

        <div class="hmpps-services">
            {% for service in services %}
                <div class="hmpps-service-item">
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-static-margin-top-0" />
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-three-quarters"><a href="{{ service.href }} " class="govuk-link govuk-!-font-weight-bold">{{ service.heading}}</a></div>
                        <div class="govuk-grid-column-one-quarter"><img src="/assets/images/keyboard_arrow_right.svg" align="right" role="presentation" alt="" width="9.25px" height="15px" /></div>
                    </div>
                    <p class="govuk-!-static-margin-top-3 govuk-!-static-margin-bottom-0">{{ service.description}}</p>
                    {% if service.subLinks and service.subLinks.length %}
                        <ul class="govuk-!-static-margin-top-1 govuk-!-static-margin-bottom-3">
                            {% for subLink in service.subLinks %}
                                <li class="hmpps-service-link">
                                    <a href="{{baseUrl()}}/{{ subLink.href }}" class="govuk-link">{{ subLink.label}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif%}
                </div>                
            {% endfor %}
        </div>
    </div>
</section>