<section class="dps-homepage-today" data-qa="homepage-today-section">
    <h2>Today in {{ user.activeCaseLoad.description }}</h2>
    <p class="today-last-updated">Last updated at {{ todayLastUpdated | formatDateTime({ order: 'time-date', separator: 'on', style: 'long' }) }}</p>
    <div class="today-card-container">
        <div class="today-card" data-qa="today-unlock-roll-card">
            <h3>Today's unlock roll</h3>
            <div class="today-card__count">{{ unlockRollCount }}</div>
        </div>
        <div class="today-card" data-qa="today-current-population-card">
            <h3>Current population</h3>
            <div class="today-card__count">{{ currentPopulationCount }}</div>
            <div class="today-card__link">
                <a href="{{ config.serviceUrls.digitalPrisons if establishmentRollExcluded }}/establishment-roll" class="govuk-link govuk-link--no-visited-state">Establishment roll</a>
            </div>
        </div>
        <div class="today-card" data-qa="today-in-card">
            <h3>Arrived today</h3>
            <div class="today-card__count">{{ inTodayCount }}</div>
            <div class="today-card__link">
                <a href="{{ config.serviceUrls.digitalPrisons if establishmentRollExcluded }}/establishment-roll/{{ 'in-today' if establishmentRollExcluded else 'arrived-today'  }}" class="govuk-link govuk-link--no-visited-state">Arrived today</a>
            </div>
        </div>
        <div class="today-card" data-qa="today-out-card">
            <h3>Out today</h3>
            <div class="today-card__count">{{ outTodayCount }}</div>
            <div class="today-card__link">
                <a href="{{ config.serviceUrls.digitalPrisons if establishmentRollExcluded }}/establishment-roll/out-today" class="govuk-link govuk-link--no-visited-state">People out today</a>
            </div>
        </div>
    </div>
</section>