<section class="dps-homepage-whats-new" data-qa="homepage-whats-new-section">
    <h2 class="govuk-heading-m">What’s new in DPS</h2>
    {% for post in whatsNewPosts %}
      {% include "partials/whatsNewPost.njk" %}
    {% endfor %}
    <a href="/whats-new" class="govuk-link govuk-link--no-visited-state">All updates</a>
</section>
