{% extends "../partials/layout.njk" %}
{% from "../macros/alertFlags.njk" import alertFlags %}
{% from "../macros/categoryFlag.njk" import categoryFlag %}

{% set pageTitle = "En route to " + prison %}
{% set mainClasses = "govuk-body govuk-main-wrapper--auto-spacing" %}

{% set breadCrumbs = [
    {
        text: 'Digital Prison Services',
        href:  '/'
    },
    {
        text: 'Establishment roll',
        href:  '/establishment-roll'
    }
] %}

{% block content %}
<div class="govuk-width-container govuk-!-margin-top-8">
    <div class="govuk-!-margin-bottom-6">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ pageTitle }}</h1>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-full results-table results-table__results">
            <table class="govuk-table en-route-roll__table" data-module="moj-sortable-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Picture</span></th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16" aria-sort="ascending">Name</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16">Prison number</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16">Date of birth</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16" aria-sort="none">Departed</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16" aria-sort="none">En route from</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16">Reason</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16">Alert flags</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for prisoner in prisoners %}
                        {% set prisonerName = prisoner.firstName | formatName("", prisoner.lastName, { style: 'lastCommaFirst' }) %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><img src="/api/prisonerImage/{{ prisoner.prisonerNumber or 'placeholder' }}" alt="Image of {{ prisonerName }}" class="results-table__results__image" /></td>
                            <td class="govuk-table__cell" data-sort-value="{{ prisonerName }}" ><a href="{{ config.serviceUrls.prisonerProfile }}/prisoner/{{ prisoner.prisonerNumber }}" class="govuk-link">{{ prisonerName }}</a></td>
                            <td class="govuk-table__cell">{{ prisoner.prisonerNumber }}</td>
                            <td class="govuk-table__cell">{{ prisoner.dateOfBirth | formatDate('short')}}</td>
                            <td class="govuk-table__cell" data-sort-value="{{ prisoner.movementDate | toUnixTimeStamp(prisoner.movementTime) }}" >{{ prisoner.movementTime | formatTime }}<br />{{ prisoner.movementDate | formatDate('short')}}</td>
                            <td class="govuk-table__cell">{{ prisoner.from }}</td>
                            <td class="govuk-table__cell">{{ prisoner.reason}}</td>
                            <td class="govuk-table__cell">{{ alertFlags(prisoner.alertFlags) }}{{categoryFlag("", prisoner.category) | safe}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
