{% extends "../partials/layout.njk" %}
{% from "../macros/printLink.njk" import printLink %}
{% from "../macros/establishmentRollStat.njk" import establishmentRollStat %}

{% set pageTitle = "Establishment roll" %}
{% set mainClasses = "govuk-body govuk-main-wrapper--auto-spacing" %}
{% set todayStats = establishmentRollCounts.todayStats %}
{% set totals = establishmentRollCounts.totals %}
{% set wings = establishmentRollCounts.wings %}
{% set capacityLabel = "Working capacity" if useWorkingCapacity else "Operational capacity" %}
{% set breadCrumbs = [
    {
        text: 'Digital Prison Services',
        href:  '/'
    }
] %}

{% macro blockRow(block, type, wing, spur, lastInGroup) %}
    <tr class="govuk-table__row establishment-roll__table__{{ "spur" if type==="SPUR" else ("landing" if type==="LANDING" else "wing") }}-row {{ 'last-in-group' if lastInGroup else '' }}"
        id="{{ block.locationId }}"
        {% if wing %}data-wing-id="{{ wing }}" {% endif %}
    >
        <td class="govuk-table__cell">
            {% if type === "LANDING" %}
                <a href="/establishment-roll/wing/{{ wing }}/{{ "spur/"+spur+"/" if spur }}landing/{{ block.locationId }}">{{ block.localName or block.locationCode }}</a>
            {% else %}
                {{ block.localName or block.locationCode }}
            {% endif %}
        </td>
        <td class="govuk-table__cell">{{ block.rollCount.bedsInUse }}</td>
        <td class="govuk-table__cell">{{ block.rollCount.currentlyInCell }}</td>
        <td class="govuk-table__cell">
            {% if block.rollCount.currentlyOut > 0 %}
                <a class="govuk-link" href="/establishment-roll/{{block.locationId}}/currently-out">{{block.rollCount.currentlyOut}}</a>
            {% else %} 0 {% endif %}
        </td>
        <td class="govuk-table__cell">{{ block.rollCount.workingCapacity }}</td>
        <td class="govuk-table__cell">{{ block.rollCount.netVacancies }}</td>
        <td class="govuk-table__cell">{{ block.rollCount.outOfOrder }}</td>
    </tr>
{% endmacro %}

{% block content %}
<div class="govuk-width-container govuk-!-margin-top-8">
    <div class="govuk-!-margin-bottom-6">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ pageTitle }} for {{ date | formatDate('full') }}</h1>
        {{ printLink(align = "right") }}
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-one-third">
            {{
                establishmentRollStat(
                    heading = "Today’s unlock roll",
                    value = todayStats.unlockRoll,
                    qaTag = "unlock-roll"
                )
            }}
        </div>

        <div class="govuk-grid-column-one-third">
            {{
                establishmentRollStat(
                    heading = "Current population",
                    value = todayStats.currentRoll,
                    qaTag = "current-roll"
                )
            }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-2">
        <div class="govuk-grid-column-one-third">
            {{
                establishmentRollStat(
                    heading = "Arrived today",
                    value = todayStats.inToday,
                    href = "/establishment-roll/arrived-today",
                    qaTag = "in-today"
                )
            }}
        </div>

        <div class="govuk-grid-column-one-third">
            {{
                establishmentRollStat(
                    heading = "In reception",
                    value = todayStats.unassignedIn,
                    href = "/establishment-roll/in-reception",
                    qaTag = "unassigned-in"
                )
            }}
        </div>

        <div class="govuk-grid-column-one-third">
            {{
                establishmentRollStat(
                    heading = "Still to arrive",
                    value = todayStats.enroute,
                    href = "/establishment-roll/en-route",
                    qaTag = "enroute"
                )
            }}
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-one-third">
            {{
                establishmentRollStat(
                    heading = "Out today",
                    value = todayStats.outToday,
                    href = "/establishment-roll/out-today",
                    qaTag = "out-today"
                )
            }}
        </div>

        <div class="govuk-grid-column-one-third">
            {{
                establishmentRollStat(
                    heading = "No cell allocated",
                    value = todayStats.noCellAllocated,
                    href = "/establishment-roll/no-cell-allocated",
                    qaTag = "no-cell-allocated"
                )
            }}
        </div>
    </div>

    <table class="govuk-table establishment-roll__table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header">Beds in use</th>
                <th scope="col" class="govuk-table__header">Currently in cell</th>
                <th scope="col" class="govuk-table__header">Currently out</th>
                <th scope="col" class="govuk-table__header">{{ capacityLabel }}</th>
                <th scope="col" class="govuk-table__header">Net vacancies</th>
                <th scope="col" class="govuk-table__header">Out of order</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for wing in wings %}
                {{ blockRow(block=wing) }}

                {% for subLocation in wing.subLocations %}
                    {% set style = 'SPUR' if subLocation.subLocations.length else 'LANDING' %}

                    {% if style === 'SPUR' %}
                        {{ blockRow(block=subLocation, type='SPUR', wing=wing.locationId) }}
                        {% for landing in subLocation.subLocations %}
                            {{ blockRow(block=landing, type='LANDING', wing=wing.locationId, spur=subLocation.locationId, lastInGroup=loop.index === subLocation.subLocations.length) }}
                        {% endfor %}
                    {% else %}
                        {{ blockRow(block=subLocation, type='LANDING', wing=wing.locationId, lastInGroup=loop.index === wing.subLocations.length) }}
                    {% endif %}
                {% endfor %}

            {% endfor %}
            <tr id="roll-table-totals-row" class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-font-weight-bold">Totals</td>
                <td class="govuk-table__cell">{{ totals.bedsInUse }}</td>
                <td class="govuk-table__cell">{{ totals.currentlyInCell }}</td>
                <td class="govuk-table__cell">
                    {% if totals.currentlyOut > 0 %}
                        <a class="govuk-link" href="/establishment-roll/total-currently-out">{{totals.currentlyOut}}</a>
                    {% else %} 0 {% endif %}
                </td>
                <td class="govuk-table__cell">{{ totals.workingCapacity }}</td>
                <td class="govuk-table__cell">{{ totals.netVacancies }}</td>
                <td class="govuk-table__cell">{{ totals.outOfOrder }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block pageScripts %}
    <script src="/assets/establishment-roll.js"></script>
{% endblock %}