{% extends "../partials/layout.njk" %}

{% set pageTitle = "Home - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set containerClasses = "dps-homepage-container" %}

{% block content %}

  {% include "../partials/homepage/hero.njk" %}
  {% include "../partials/homepage/search.njk" %}
  <div class="govuk-width-container">
    {% include "../partials/homepage/services.njk" %}
    <hr class="today-section-break">
    {% include "../partials/homepage/today.njk" %}
  </div>
  <hr class="today-section-break--blue govuk-width-container">
  <div class="govuk-grid-row govuk-width-container">
    <div class="govuk-grid-column-two-thirds">
      {% include "../partials/homepage/whats-new.njk" %}
    </div>
    <div class="govuk-grid-column-one-third">
      {% include "../partials/homepage/help.njk" %}
    </div>
  </div>

{% endblock %}
