{% extends "../partials/layout.njk" %}

{% set pageTitle = "Home" %}
{% set mainClasses = "app-container govuk-body" %}
{% set containerClasses = "dps-homepage-container" %}

{% block beforeContent %}
{# Override the inherited layout to remove empty breadcumbs as the homepage has none #}
{% endblock %}

{% block content %}

  {% include "../partials/homepage/outageBanner.njk" %}
  {% include "../partials/homepage/hero.njk" %}
  {% if userHasPrisonCaseLoad %}
    {% include "../partials/homepage/search.njk" %}
  {% endif %}
  <div class="govuk-width-container">
    {% include "../partials/homepage/services.njk" %}
    {% if userHasPrisonCaseLoad %}
      <hr class="today-section-break">
      {% include "../partials/homepage/today.njk" %}
    {% endif %}
  </div>
  <hr class="today-section-break--blue govuk-width-container">
  <div class="govuk-width-container dps-homepage-flex-container">
    {% include "../partials/homepage/whats-new.njk" %}
    {% include "../partials/homepage/help.njk" %}
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/assets/js/homepage-search.js"></script>
{% endblock %}

