{% extends "../partials/layout.njk" %}

{% set pageTitle = "No cell allocated"%}
{% set mainClasses = "govuk-body govuk-main-wrapper--auto-spacing" %}

{% set breadCrumbs = [
    {
        text: 'Digital Prison Services',
        href:  '/'
    },
    {
        text: 'Establishment roll',
        href:  '/establishment-roll'
    }
] %}

{% block content %}
<div class="govuk-width-container govuk-!-margin-top-8">
    {% if prisoners.length %}
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
            <p>These people have been moved out of their cell to create a space for someone else and do not currently have a cell allocated.</p>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-9">
        <div class="govuk-grid-column-full results-table results-table__results">
            <table class="govuk-table unallocated-roll__table" data-module="moj-sortable-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Picture</span></th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16" aria-sort="ascending">Name</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16">Prisoner number</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16">Previous cell</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16" aria-sort="none">Time moved out</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16">Moved out by</th>
                        {% if userCanAllocateCell %}
                            <th scope="col" class="govuk-table__header govuk-!-font-size-16"><span class="govuk-visually-hidden">Allocate</span></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for prisoner in prisoners %}
                        {% set prisonerName = prisoner.firstName | formatName("", prisoner.lastName, { style: 'lastCommaFirst' }) %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><img src="/api/prisonerImage/{{ prisoner.prisonerNumber or 'placeholder' }}" alt="Image of {{ prisonerName }}" class="results-table__results__image" /></td>
                            <td class="govuk-table__cell" data-sort-value="{{ prisonerName }}" ><a href="{{ config.serviceUrls.prisonerProfile }}/prisoner/{{ prisoner.prisonerNumber }}" class="govuk-link">{{ prisonerName }}</a></td>
                            <td class="govuk-table__cell">{{ prisoner.prisonerNumber }}</td>
                            <td class="govuk-table__cell">{{ prisoner.previousCell }}</td>
                            <td class="govuk-table__cell">{{ prisoner.timeOut | timeFromDate }}</td>
                            <td class="govuk-table__cell">{{ prisoner.movedBy }}</td>
                            {% if userCanAllocateCell %}
                                <td class="govuk-table__cell">
                                    <a href="{{config.serviceUrls.changeSomeonesCell}}/prisoner/{{ prisoner.prisonerNumber }}/cell-move/search-for-cell" class="govuk-link" data-test="allocate-cell-link">Allocate cell</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
                <p class="govuk-body">There are no prisoners without a cell.</p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
