{% extends "../partials/layout.njk" %}
{% set mainClasses = "govuk-body govuk-main-wrapper--auto-spacing" %}
{% set breadCrumbs = [
    {
        text: 'Digital Prison Services',
        href:  "/"
    }
] %}

{%  block content %}
    <h1>What's new in DPS</h1>
    <div class="dps-whats-new">
        <div class="whats-new-list">
            {% for post in whatsNewPosts %}
                <article class="whats-new-post">
                    <div class="whats-new-post__date">{{ post.date | formatDate('long') }}</div>
                    <a href="/whats-new/{{ post.slug }}" class="govuk-link govuk-link--no-visited-state">{{ post.title }}</a>
                    <div class="whats-new-post__summary">{{ post.summary }}</div>
                </article>
            {% endfor %}
        </div>
        <aside class="whats-new-related-content">
            <h2>Related content</h2>
            <a href="#" class="govuk-link govuk-link--no-visited-state">Using DPS for the first time</a>
            <a href="#" class="govuk-link govuk-link--no-visited-state">About DPS</a>
            <a href="#" class="govuk-link govuk-link--no-visited-state" target="_blank">Give feedback (opens in a new window)</a>
        </aside>
    </div>
{% endblock %}